@import url("https://fonts.googleapis.com/css2? family= Manrope:wght@200 & family= Roboto:wght@400;500;700 & display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.footer__company p, .footer__data a, .footer__data p, .advertising__mail, .advertising__description, .exclusive__description, .main__btn, .main__description, .navigation__link, .company__btn, .company__phone, .info__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.advertising__title, .exclusive__title h2, .main__title, .company__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

body {
  background: #EFEFEF;
  max-width: 1920px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.info {
  display: flex;
  justify-content: center;
  background: #E5E5E5;
  padding: 17px 0;
}
.info__link {
  color: #333333;
  margin-right: 2vw;
}
.info__link:last-child {
  margin: 0;
}
.info__link:hover {
  color: #66C05D;
}
.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 22vw 50px 22vw;
  background-color: #FFFFFF;
}
@media screen and (max-width: 820px) {
  .company {
    padding: 20px 10vw 50px 10vw;
  }
}
@media screen and (max-width: 360px) {
  .company {
    flex-wrap: nowrap;
    padding: 20px 12px;
  }
}
.company__logo {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 360px) {
  .company__logo {
    display: none;
  }
}
.company__image {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.company__title {
  letter-spacing: 0.1em;
  color: #66C05D;
}
.company__phone {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 40px;
}
.company__phone:hover {
  color: #66C05D;
}
.company__btn {
  cursor: pointer;
  width: 170px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #66C05D;
  border-radius: 40px;
}
.company__btn:hover {
  background: #66C05D;
  color: #FFFFFF;
  box-shadow: 0px 0px 20px #66C05D, 0px 0px 40px #66C05D, 0px 0px 80px #66C05D;
}

.line {
  border: 1px solid #EFEFEF;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 360px) {
  .navigation {
    padding: 30px 15px;
  }
}
@media screen and (max-width: 360px) {
  .navigation nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
  }
}
.navigation__link {
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 2vw;
}
.navigation__link:last-child {
  margin: 0;
}
.navigation__link:hover {
  color: #66C05D;
}

.main {
  background-image: url(/images/banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  padding: 192px 0px 192px 22vw;
}
@media screen and (max-width: 820px) {
  .main {
    padding: 20px 10vw 50px 10vw;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 360px) {
  .main {
    padding: 0px 0px 20px 5vw;
  }
}
.main__title {
  width: 308px;
  height: 44px;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
@media screen and (max-width: 360px) {
  .main__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.main__description {
  width: 308px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
@media screen and (max-width: 360px) {
  .main__description {
    font-size: 12px;
    margin-bottom: 30px;
    width: 50vw;
  }
}
.main__btn {
  cursor: pointer;
  box-sizing: border-box;
  width: 170px;
  height: 40px;
  background: #66C05D;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
}
@media screen and (max-width: 360px) {
  .main__btn {
    width: 250px;
    margin-left: 30px;
  }
}
.main__btn:hover {
  background: #FFFFFF;
  color: #66C05D;
  box-shadow: 0px 0px 20px #FFFFFF, 0px 0px 40px #FFFFFF, 0px 0px 80px #FFFFFF;
}

.exclusive {
  padding: 0px 22vw;
  margin-bottom: 100px;
}
@media screen and (max-width: 820px) {
  .exclusive {
    padding: 0 10vw;
    margin-bottom: 40px;
  }
}
.exclusive__title {
  margin-bottom: 38px;
}
.exclusive__title h2 {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.exclusive__block {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 -15px;
}
@media screen and (max-width: 820px) {
  .exclusive__block {
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px -15px;
  }
}
.exclusive__cards {
  padding: 0 15px;
}
@media screen and (max-width: 820px) {
  .exclusive__cards {
    padding: 15px 15px;
  }
}
.exclusive__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 255px;
  background: #FFFFFF;
  padding: 30px;
}
.exclusive__card img {
  flex: 0 0 auto;
}
.exclusive__card__card:last-child {
  margin-right: 0;
}
.exclusive__description {
  line-height: 20px;
  color: #333333;
  padding-bottom: 20px;
  flex: 1 1 auto;
}
.exclusive__price {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-bottom: 20px;
}
.exclusive__btn {
  cursor: pointer;
  width: 130px;
  height: 35px;
  background: #66C05D;
  border-radius: 30px;
}
.exclusive__btn:hover {
  background: #FFFFFF;
  border-color: #66C05D 1px;
  color: #66C05D;
  box-shadow: 0px 0px 20px #66C05D, 0px 0px 40px #66C05D, 0px 0px 80px #66C05D;
}
.advertising {
  padding: 0px 22vw 130px 22vw;
}
@media screen and (max-width: 820px) {
  .advertising {
    margin-bottom: 130px;
    padding: 0;
  }
}
@media screen and (max-width: 360px) {
  .advertising {
    margin-bottom: 40px;
  }
}
.advertising__block {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px -15px;
}
@media screen and (max-width: 820px) {
  .advertising__block {
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px -15px;
  }
}
@media screen and (max-width: 360px) {
  .advertising__block {
    flex-wrap: wrap;
  }
}
.advertising__cards {
  padding: 0 15px;
}
@media screen and (max-width: 820px) {
  .advertising__cards {
    padding: 15px 15px;
  }
}
.advertising__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 540px;
  background: #66C05D;
  margin-right: 30px;
  padding: 35px 40px;
}
@media screen and (max-width: 360px) {
  .advertising__card {
    align-items: center;
    border-radius: 10px;
    width: 80vw;
  }
}
@media screen and (max-width: 360px) {
  .advertising__card img {
    display: none;
  }
}
.advertising__card .envelope {
  position: absolute;
  right: 40px;
  top: 30px;
}
.advertising__card .car {
  position: absolute;
  right: 40px;
  top: 70px;
}
.advertising__card:last-child {
  margin-right: 0;
}
.advertising__title {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding-bottom: 25px;
}
.advertising__description {
  line-height: 20px;
  color: #FFFFFF;
  padding-bottom: 25px;
  width: 12vw;
}
@media screen and (max-width: 820px) {
  .advertising__description {
    width: 25vw;
  }
}
@media screen and (max-width: 360px) {
  .advertising__description {
    width: 60vw;
  }
}
.advertising__mail {
  width: 225px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 30px;
  text-align: center;
  color: #C4C4C4;
}
.advertising__btn {
  cursor: pointer;
  width: 170px;
  height: 35px;
  background: #66C05D;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  color: #FFFFFF;
}
.advertising__btn:hover {
  background: #FFFFFF;
  color: #66C05D;
  box-shadow: 0px 0px 20px #FFFFFF, 0px 0px 40px #FFFFFF, 0px 0px 80px #FFFFFF;
}

.footer__data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 37px 22vw;
  background-color: #FFFFFF;
}
@media screen and (max-width: 820px) {
  .footer__data {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 37px 10vw;
  }
}
@media screen and (max-width: 360px) {
  .footer__data {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
.footer__data .link {
  display: flex;
}
.footer__data .link div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #66C05D;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 20px;
}
.footer__data .link img {
  background: #FFFFFF;
}
.footer__data p {
  color: #000000;
  margin-right: 105px;
}
@media screen and (max-width: 360px) {
  .footer__data p {
    margin: 0;
  }
}
.footer__data a {
  line-height: 19px;
  color: #000000;
  margin-right: 40px;
}
.footer__data a:hover {
  color: #66C05D;
}
.footer__data button {
  width: 170px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #66C05D;
  border-radius: 40px;
}
@media screen and (max-width: 360px) {
  .footer__data button {
    width: 280px;
  }
}
.footer__data button:hover {
  background: #66C05D;
  color: #FFFFFF;
  box-shadow: 0px 0px 20px #66C05D, 0px 0px 40px #66C05D, 0px 0px 80px #66C05D;
}
.footer__company {
  display: flex;
  justify-content: space-between;
  padding: 25px 22vw;
}
@media screen and (max-width: 820px) {
  .footer__company {
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 10vw;
  }
}
.footer__company p {
  font-size: 12px;
  line-height: 14px;
  color: #828282;
  padding-bottom: 10px;
}
.footer__company p:last-child {
  cursor: pointer;
  padding: 0;
}
.footer__company p:last-child:hover {
  color: #66C05D;
}/*# sourceMappingURL=style.css.map */