/* 
Отступы следует задавать 
от предыдущего элемента к следующему 
*/

.section__item_bottom {
	padding: 10px;
	margin: 0px 0px 20px 0px;
}

.section__items {
	display: flex;
}

.section__item_right {
	padding: 15px;
	margin: 0px 20px 0px 0px;
}

/* 
У последнего элемента группы, 
отступ следует обнулять
*/

.section__body_last {
	background-color: #77608d;
	padding: 20px 50px;
}

.section__list {
}
.section__list li {
	margin: 0px 0px 10px 0px;
}
.section__list li:last-child {
}

.section__item_item {
	padding: 15px;
}

/* 
Отступы задаются самому
верхнему родителю в конструкции (доме)

!!! В том числе, таким образом можно 
избежать проблем при отступах 
с заливкой фона
*/

.section__body_parent {
	background-color: #7a956b;
	padding: 50px 50px;
}
.section__list {
}
.section__item_parent {
	margin: 0px 0px 20px 0px;
	/* Даже задав отступ тут будет проблема */
}
.section__item_parent:last-child {
	margin: 0;
}

/*
Внешние отступы не следует задавать 
для независимых элементов (БЭМ блок)
*/

.portfolio {
	background-color: #794f45;
	padding: 30px 15px;
}
.portfolio__header {
	margin: 0px 0px 20px 0px;
}

.contacts {
	background-color: #77608d;
	padding: 30px 15px;
}
.contacts__header {
	margin: 0px 0px 40px 0px;
}

.header {
	text-align: center;
}
.header__title {
	font-size: 30px;
	margin: 0px 0px 5px 0px;
}
.header__text {
	font-size: 20px;
}
/*
Отступы должны улучшать 
удобство пользования и восприятие
*/

.compare {
}
.compare__row {
	display: flex;
	margin: 0px -15px 30px;
}
.compare__column {
	padding: 0px 15px;
	flex: 0 1 50%;
}

.compare__item {
	padding: 20px 15px;
}
.compare__item_bad {
	padding: 80px 15px;
}

.compare__item_color-1 {
	background-color: #794f45;
}
.compare__item_color-2 {
	background-color: #7a956b;
}
.compare__title {
	font-size: 30px;
	margin: 0px 0px 10px 0px;
}
.compare__title_bad {
	margin: 0px 0px 40px 0px;
}

.compare__text {
}

.compare__link {
	display: inline-block;
	padding: 5px;
	line-height: 10px;
}
.compare__link_bad {
	padding: 0;
}
