
.info {
  display: flex;
  justify-content: center;
  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }
}

.company {
  image {
    width: 80px;
    height: 80px;
  }
  title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #66C05D;
  }
  phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  btn {
    box-sizing: border-box;
    position: absolute;
    width: 170px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #66C05D;
    border-radius: 40px;
  }
}

.navigation {
  link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}