.advertising {  
  padding: 130px 0;
  @media screen and (max-width: 1200px) {
    padding: 80px 0;
  }
  &__block {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px -15px;
    @media screen and (max-width: 767px) {
      justify-content: center;
        flex-wrap: wrap;
        margin: -15px -15px;
      }
  }
  &__cards {
    padding: 0 15px;
    @media screen and (max-width: 767px) {
      padding: 15px 15px;
    }
  }
  &__card {
    position: relative;
    width: 540px;
    background: $maincolor;
    margin-right: 30px;
    padding: 35px 40px;
    @media screen and (max-width: 991px) {
      align-items: center;
      width: 43.5vw;
      display: flex;
      flex-direction: column;
    }
    @media screen and (max-width: 767px) {
      border-radius: 10px;
      width: 80vw;
    }
    img {
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    .envelope {
      position: absolute;
      right: 40px;
      top:30px;
    }
    .car {
      position: absolute;
      right: 40px;
      top:70px;
    }
  }
  &__card:last-child {
    margin-right: 0;
  }
  &__title {
    @extend %fontbold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 25px;
  }
  &__description {
    @extend %fontnormal;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 25px;
  }
  &__mail {
    @extend %fontnormal;
    width: 225px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    color: #C4C4C4;
  }
  &__btn {
    cursor: pointer;
    width: 170px;
    height: 35px;
    background: $maincolor;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
  }
  &__btn:hover {
    background: #FFFFFF;
    color: $maincolor;
    box-shadow: 0px 0px 20px #FFFFFF, 0px 0px 40px #FFFFFF, 0px 0px 80px #FFFFFF;
  }
}