.exclusive {
  padding: 0px 22vw;
  margin-bottom: 100px;
  @media screen and (max-width: 820px) {
    padding: 0 10vw;
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 38px;
    h2 {
      @extend %fontbold;
      font-size: 22px;
      line-height: 28px;
      color: #000000;
    }
  }
  &__block {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px;
    @media screen and (max-width: 820px) {
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px -15px;
    }
  }
  &__cards {
    padding: 0 15px;
    @media screen and (max-width: 820px) {
      padding: 15px 15px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    width: 255px;
    background: #FFFFFF;
    padding: 30px;
    img {
      flex: 0 0 125px;
    }
    &__card:last-child {
      margin-right: 0;
    }
  }
  &__description {
    @extend %fontnormal;
    line-height: 20px;
    color: #333333;
    padding-bottom: 20px;
  }
  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;
    padding-bottom: 20px;
  }
  &__btn {
    cursor: pointer;
    width: 130px;
    height: 35px;
    background: $maincolor;
    border-radius: 30px;
  }
  &__btn:hover {
    background: #FFFFFF;
    border-color: $maincolor 1px;
    color: $maincolor;
    box-shadow: 0px 0px 20px $maincolor, 0px 0px 40px $maincolor, 0px 0px 80px $maincolor;
  }
}